.bg-container {
  width: 100%;
  height: 100%;
}
.home-container {
  height: 550px;
  width: 100%;
  display: flex;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-page-image {
  width: 530px;
  height: 450px;
}

.text-container {
  width: 650px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.heading {
  color: #1e293b;
  font-size: 40px;
}
.text-content {
  font-size: 20px;
  color: #475569;
}
.shop-btn {
  height: 35px;
  width: 150px;
  padding: 5px 12px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  outline: none;
  border-radius: 3px;
}

@media screen and (max-width: 567px) {
  .bg-container {
    width: 100%;
    padding: 10px;
  }
  .small-screen-heading {
    text-align: center;
  }
  /* .text-content {
    order: 3;
  } */
  .home-page-image {
    /* order: 2; */
    width: 340px;
    height: 350px;
  }
  .heading {
    order: 0;
  }
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .text-container {
    order: 1;
    width: 340px;
    /* text-align: center; */
    align-items: center;
  }
  .home-container {
    justify-content: flex-start;
    padding: 10px;
  }
  .shop-btn {
    margin-bottom: 10px;
  }
}

/* Write your CSS code here */
.nav-bar-container {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}
.website-logo {
  height: 50px;
  width: 150px;
}
.list-items-container {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.link-item {
  text-decoration: none;
  color: #64748b;
}
.logout-btn {
  padding: 5px 12px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  outline: none;
  border-radius: 3px;
}

.small-nav-icon {
  width: 40px;
}

@media screen and (max-width: 576px) {
  .small-nav-list-items-container {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #e6f6ff;
    padding: 10px;
    width: 100%;
  }
  .small-nav-container {
    width: 100%;
  }
  .large-nav-container {
    display: none;
  }
  .small-nav-website-logo {
    width: 240px;
  }
  .nav-bar-container {
    padding: 5px;
  }
  .logo-logout-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
  }
}
